<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting"> 
         こんにちは、
         <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link%>
      </div> 
    <% end %>
    <%#↪︎ログインしているときは、トップページに「こんにちはユーザー名さん」が表示されるように条件分岐した%>
    <%#↪︎「ユーザー名」の部分に、今ログインしているユーザーのユーザー名が表示されるようにした%>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: "prototype", collection: @prototypes %>
      <%# @prototypes.each do |prototype| %> 
        <%#= render partial: "prototype", locals: { prototype: prototype } %>
      <%# end %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
